<div id="croppingModal" class="modal hide" data-width="932" data-height="319">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>Crop Image <span class="dimentions"></span></h3>
    </div>
    <div class="modal-body">
        <div id="canvasToCrop"></div>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn closeModal" data-dismiss="modal">Cancel</a>
        <a href="#" class="btn btn-primary" id="btnDoCrop">Crop</a>
    </div>
</div>