<div id="sitetitle" class="clearfix">
	<h1><a href="index.html">inland</a></h1>
</div>

<div id="nav" class="clearfix">
  <div class='row navigation_section'>
    <%# Navigation bar rendering will be here ! %>
    <div id='nav-section' class='nav-section radius_4'>
      <%= display_navigation_bar :id => 'nav_bar' %>
    </div>
  </div>
</div>


