
*{border:0;font:inherit;font-size:100%;margin:0;padding:0;vertical-align:baseline;}

/* HTML elements */
body{background:#101010 url(bodybg.jpg) top left;color:#444;font-family:'Droid Sans',Tahoma,Arial,sans-serif;font-size:13px;line-height:1.6em;}
a{color:#383838;text-decoration:none;}
a:hover{color:#555;text-decoration:none;}
a img{border:none;}
h1,h2,h3,h4{clear:left;color:#fff;font-weight:400;margin:0.7em 0;font-family:'Yanone Kaffeesatz';}
h1{font-size:2.6em;}
h2{font-size:2.4em;}
h3{font-size:1.9em;}
p,ul{margin:0 0 20px 0;}
i,em {font-style:italic;}
b,strong {font-weight:700;}

/* Main wrappers */
#wrapper1240{margin:20px auto;width:1240px;}
#wrapper960{margin:20px auto;width:960px;}
#wrapper760{margin:20px auto;width:760px;}
#wrapper600{margin:0 auto;width:600px;}
#wrapperfluid{margin:0 auto;max-width:1260px;}
#wrapper1240,#wrapper960,#wrapper760,#wrapper600,#wrapperfluid{background:#fff url(contentbg.jpg) top left;box-shadow:#000 0 0 32px;}

/*HEader links style*/

ul.toplinks_links li a{width: 100%;float: left;}
ul.toplinks_links li a.change_link{text-align:right;}

/* Layout IDs */
#header{position:relative;}
#sitetitle{float:left;margin:30px 0 10px 30px;}
#sitetitle h1 {font-size:40px;color:#fff;margin:0;padding:0;}
#header-image{height:300px;margin:0;padding:0;}
#content{padding:15px 30px;background-color:#643b1b;color:#ddd;}
#content h2,#content h3,#content h4{color:#ddd;}
#content a{color:#fff;text-decoration:underline;}
#extended{padding:15px 30px;background:#fff url(contentbg.jpg) top left;}
#extended h3{color:#333333;}
#extended a{text-decoration:underline;}

/* Top links menu */
#toplinks{padding:0 30px;}
#toplinks ul{list-style:none;margin:0;text-align:right;}
#toplinks ul li{display:inline-block;font-size:11px;margin:15px 0 12px 15px;}
#toplinks ul li a{color:#dadddd;}
#toplinks ul li a:hover{color:#fff;text-decoration:none;}

/* Wood background */
#toplinks, #content, #footer{background:none;background-color:#1a1a1a;}

/* Main navigation menu */
#nav{float:right;font-family:'Droid Sans',Verdana,Tahoma,sans-serif;text-align:center;}
#nav ul{list-style:none;margin:30px 30px 26px 20px;}
#nav ul li{background:none!important;display:inline-block;text-align:right;height:auto;line-height:25px;margin-bottom:0;margin-left:25px;position:relative;}
#nav ul li a{color:#333333;display:block;font-size:12px;padding-top:0;text-transform:uppercase;}
#nav ul li a:hover{color:#333333;}
#nav ul li a.current{color:#333333;}

/* Columns */
#sidebar{width:33.3%;}
#main{width:66.6%;}
#trio1{float:left;width:33.3%;}
#trio2{float:left;width:33.3%;}
#trio3{float:right;width:33.3%;}
.inner{margin:5px 30px;}
#trio1 .inner{margin-left:0;}
#trio2 .inner{margin:0;}
#trio3 .inner{margin-right:0;}
.left .inner{margin-left:0;}
.right .inner{margin-right:0;}

/* Footer */
#footer{clear:both;background:none;background-color:#121212;}
#footer p{color:#ccc;font-size:12px;margin:0;padding:15px 30px;text-align:center;}
#footer a{color:#ccc;}
#footer a:hover{color:#eee;}

/* Image alignment */
img.alignleft,img.aligncenter,img.alignright{background:#fff;padding:4px;margin-bottom:10px;border:1px solid #ddd;}
.alignleft{float:left;margin-right:30px;}
.alignright{float:right;margin-left:30px;}
.aligncenter{text-align:center;display:block;clear:both;margin:5px auto;}

/* Additional classes */
.shadow{background:url(shadow.png) top center no-repeat;}
.clear{clear:both;}
.left{float:left;}
.right{float:right;}

/* Clearing fix */
.clearfix:after{clear:both;content:".";display:block;height:0;visibility:hidden;}
* html .clearfix{height:1%;}
*:first-child+html .clearfix{min-height:1%;}


/* Navigation bar styles*/
/* Navigation bar styles : common through all templates*/

.navigation_section{margin: 20px 0px;width: 600px;}
.navigation_section p{display:none;}
.navigation_section .nav-section{float:left;width:100%;}
.navigation_section .nav-section #nav_bar{margin:0px !important;width: 97%;position:static;}
.navigation_section .nav-section #nav_bar > li{float: left;width: 13.5%;text-align: center;position: relative;}
.navigation_section .nav-section #nav_bar > li:first-child{border:none;}

/*.navigation_section .nav-section #nav_bar li .sub-nav{margin: 0px;position: absolute;top: 40px;left: 0px;display:none;width: 99%;background:#ffdfb4;/*padding: 15px 0px;} */
.navigation_section .nav-section #nav_bar ul{float:left;width:100%;}
.navigation_section .nav-section #nav_bar li > ul{margin: 0px;position: absolute;top: 40px;left:-20%;display:none;width: 100%;z-index:30;}

.navigation_section .nav-section #nav_bar li a{display: block;padding: 10px 0px;width: 100%;max-width: 100%;word-wrap: break-word;float: left;text-transform:uppercase;}

.navigation_section .nav-section #nav_bar li > ul li a{padding: 10px 15px;opacity:0.85;background:#ffffff;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;border:1px solid black;}
.navigation_section .nav-section #nav_bar li > ul li a:hover{opacity:1;}
/*.navigation_section .nav-section #nav_bar li:hover > .sub-nav{display:block;}*/
.navigation_section .nav-section #nav_bar li:hover > ul{display:block;}


.navigation_section .nav-section #nav_bar ul li{float: left;width: 100%;text-align: center;position: relative;margin-left:0px;}
/*.navigation_section .nav-section #nav_bar ul li a{border-bottom:1px solid #ffc06b; color:#ff9302;}*/

/*.navigation_section .nav-section #nav_bar li .sub-nav > ul .sub-nav{left: 100%;top: 0%;}*/
.navigation_section .nav-section #nav_bar > li > ul > li > ul{left: 100%;top: 0%;}

.navigation_section .nav-section #nav_bar li a:hover{text-decoration:none;/*color:#ffffff;*/}
.navigation_section .nav-section #nav_bar > li > a:hover{/*color:#815e2f;*/}



.nivoSlider{position:relative;}
.nivoSlider img{position:absolute;top:0;left:0;}
.nivoSlider a.nivo-imageLink{position:absolute;top:0;left:0;width:100%;height:100%;border:0;padding:0;margin:0;z-index:6;display:none;}
.nivo-slice{display:block;position:absolute;z-index:5;height:100%;}
.nivo-box{display:block;position:absolute;z-index:5;}
.nivo-caption{position:absolute;left:0;bottom:0;background:#000;color:#fff;opacity:0.8;width:100%;z-index:8;}
.nivo-caption p{padding:5px;margin:0;}
.nivo-caption a{display:inline!important;}
.nivo-html-caption{display:none;}
.nivo-directionNav a{position:absolute;top:45%;z-index:9;cursor:pointer;}
.nivo-prevNav{left:0;}
.nivo-nextNav{right:0;}
.nivo-controlNav a{position:relative;z-index:9;cursor:pointer;}
.nivo-controlNav a.active{font-weight:700;}

/*Nivo Slider Default Theme*/
.slider-wrapper .nivoSlider{position:relative;height:300px;background:#1a1a1a url(loading.gif) no-repeat 50% 50%;margin-bottom:55px;}
.slider-wrapper .nivoSlider img{position:absolute;top:0;left:0;display:none;}
.slider-wrapper .nivoSlider a{border:0;display:block;}
.slider-wrapper .nivo-controlNav{position:absolute;left:50%;bottom:-41px;margin-left:-60px;/* Tweak this to center bullets */}
.slider-wrapper .nivo-controlNav a{display:block;width:22px;height:22px;background:url(bullets.png) no-repeat;text-indent:-9999px;border:0;margin-right:3px;float:left;}
.slider-wrapper .nivo-controlNav a.active{background-position:0 -22px;}
.slider-wrapper .nivo-directionNav a{display:block;width:30px;height:30px;background:url(arrows.png) no-repeat;text-indent:-9999px;border:0;}
.slider-wrapper a.nivo-nextNav{background-position:-30px 0;right:15px;}
.slider-wrapper a.nivo-prevNav{left:15px;}
.slider-wrapper .nivo-caption{font-family:'Droid Sans',Helvetica,Arial,sans-serif;background:rgba(0, 0, 0, 0.2);text-align:center;text-shadow:0 0 4px #111;}
.slider-wrapper .nivo-caption a{color:#fff;border-bottom:1px dotted #fff;}
.slider-wrapper .nivo-caption a:hover{color:#fff;}



/* Styles for Team page */
.repeat-wrapper{width: 100%;margin: 40px auto;overflow: hidden;}

.add_new_division{background: transparent url(add.png) 0px 0px no-repeat;width:60px;height:25px;float:left;cursor:pointer;background-size: 100% 100%;}

div.repeatable {float: left;width: 85%;padding: 20px 20px;background:#000000;margin: 0px 30px;opacity: 0.8;color:#ddd;}

.repeat-wrapper .remove{float: right;width:25px;}

div.repeatable dl{float: left;width: 100%;margin-bottom: 50px;}
div.repeatable dl a{font-weight:normal;float:left;margin-top:30px;color:#ddd;}
div.repeatable dl dt{float: left;width: 25%;}
div.repeatable dl dt img{width:150px;}
div.repeatable dl dd{float: right;width: 70%;}
div.repeatable a{font-weight:normal;float:left;margin-top:30px;color:#ddd;}
div.repeatable .link_sec a.doc_link{font-size: 20px;}
div.repeatable .audio_sec{float: left;width: 40%;}
div.repeatable .video_sec{float: right;width: 50%;}
div.repeatable .link_sec{float: right;width: 25%;}
div.repeatable .link_sec .change_link{margin-left:55px;}

/*for About us page*/
#contactContent h3{color:#000;}
#contactContent #mapND, #contactContent #mapSF{width:218px; height:123px; border:1px solid #d7d7d7;margin: 12px 0px;}
#contactContent .map{float:left;margin-bottom: 45px;}
#contactContent .map h3{color:#231f20;font-size:17px;line-height:30px;margin:0px 0px 8px 0px;letter-spacing: 1px;}
#contactContent .map .addr{font-size:14px;line-height:20px;}
#contactContent .map a.getDir{float:left;font-size:17px;padding-top: 2px;letter-spacing:2px;color:#000;}
#contactContent .map a.getDir:hover{color:#dadddd;}


/* style for contact - starts*/
  .f-right{float:right !important;}
  #contactContent .span9{margin: 0px auto;float: none;}
  .contact_form{width:620px;border-radius:0px;-webkit-border-radius:0px;-moz-border-radius:0px;border: 1px solid rgba(0, 0, 0, 0.4);border-top:none;border-bottom:none;background:#f5f5f5;}
  #new_contact div.common{display:none;float: left;width: 240px;margin-left:35px;}
  #new_contact div.project{display:none;float: right;width: 205px;padding-right:21px;overflow:hidden;margin: 10px 15px 5px 0px;background:transparent url(sprite.png) 0px -588px no-repeat;}
  .contact_form .modal-header{border:none;padding:0px;overflow:hidden;}
  .contact_form .modal-header button.close{margin: 30px 30px 20px 0px;}
  .contact_form .modal-body{padding:0px 40px;max-height:705px;}
  .contact_form .modal-body h3.contact{color:#f78806; font-size:32px;font-weight:normal;line-height: 35px;margin:0px 0px 20px 0px;}
  #new_contact .formSet{float:left;width:100%;}
  #new_contact .formSet label{float:left; width:120px;line-height:30px;font-size:18px;}
  #new_contact .name label, #new_contact .email label{font-weight:bold;}
  #new_contact .formSet input{ float:right; width:352px; height:25px;background:transparent url(sprite.png) 0px -640px no-repeat;border:none;box-shadow:none; -webkit-box-shadow:none; -moz-box-shadow:none;padding:2px 0px 5px 10px;font-size:16px;}
  #new_contact .formSet textarea{ float:right; width:352px; height:100px;box-shadow:none; -webkit-box-shadow:none; -moz-box-shadow:none;padding:2px 0px 5px 10px;font-size:16px;}
  #new_contact div.pull-left{width:100%;}
  #new_contact .project_consult{margin:20px 0px;border-top: 1px solid #c5c6c6;border-bottom: 1px solid #c5c6c6; padding:20px 0px;}
  .project_consult #radio_select div .projectDiv, .project_consult #radio_select div .consultDiv{z-index:99;cursor:pointer;display:none;position: absolute;width: 200px !important;height: 45px;top: 0px;left: 0px;}
  .project_consult #radio_select div{float:left;width:250px !important;position:relative;}
  .project_consult #radio_select div:first-child{margin-right:20px;}
  .project_consult #radio_select div label{font-size:18px;}
  .project_consult #radio_select div label span.light{font-size:15px}
  #radio_select div input[type='radio'].select_radio{opacity: 0;float: left;width: 20px;height: 20px;}
  #radio_select div label.select_label{margin: 0;clear: none;padding: 0px 0 5px 35px;cursor: pointer;background:transparent url(sprite.png) -376px 2px no-repeat;margin-left: -20px;}
  #radio_select div label.selected_label{background:transparent url(sprite.png) -376px -138px no-repeat;}
  #new_contact div.common textarea{margin:5px 0px 15px 0px;float: left;border:none;border-top: 1px solid #cccccc;}
  #new_contact div.common input[type='file']{float: left;}
  #new_contact div.project select{border:none;border-radius:0px;-webkit-appearance: none;-webkit-border-radius:0px;-moz-border-radius:0px;background:transparent;padding-top:3px !important;width:245px;padding-right:0px;padding-bottom:0px;padding-left:13px;}
  #new_contact span.inline-error{float: left;color: red;margin-top: -14px;width:100%; text-align:right;margin-bottom:5px;}
  #new_contact .project_consult span.inline-error{text-align:left;}
  #new_contact .common span.inline-error{width:90%;}
  #new_contact span#budget_errors{width: 88%;float: left;text-align: right;}
  #new_contact .field_with_errors{overflow:hidden;}
  #new_contact .submitBtn{width: 178px;margin: 0px auto;background:transparent url(sprite.png) -220px -716px no-repeat;height: 38px;margin-bottom: 30px;}
  #new_contact .submitBtn input.formSubmit{border:none;background:transparent url(sprite.png) 158px -128px no-repeat;font-size:17px;line-height:30px;letter-spacing:2px;color:#ffffff;text-align: left;padding:3px 120px 0px 14px;}
  #new_contact .submitBtn input.formSubmit:hover, .contact_form #new_contact .submitBtn input.formSubmit:active{color:#0d88a7;background:transparent url(sprite.png) 158px -94px no-repeat;}
  #new_contact .submitBtn:active{background:transparent url(sprite.png) -220px -758px no-repeat;}
  .common input#contact_file{font-size: 12px;color: #979797;}
  .formSubmit{margin-bottom:30px;}
  