/*Bootstrap over-rides*/

.row{margin:0px;}
.nav-tabs{border:none;}
.span1,.span2,.span3,.span4,.span5,.span6,.span7,.span8,.span9,.span10,.span11,.span12{margin:0px;}



/* Common Fixed styles */

*{margin:0px;padding:0px;}
ul, ol{list-style:none;margin:0px;}
#wrapper{margin:10px auto 20px;}
.error{display:none;color:red;float: left;}
#textArea2, #textArea1{max-height:600px;overflow:auto;}
.remove{float: right;cursor: pointer;}
/* TEMPLATE SPECIFIC STYLES*/

  /*style for header section - starts*/
    #logo img{max-width:200px;max-height:100px;text-align:center;}
    #header{padding:5px}
    #head_nav ul li, #footer ul li{float:left;border-left:1px solid black;}
    #head_nav ul li a{display:block;padding:5px 10px;}
    #head_nav ul li:first-child, #footer ul li:first-child, #nav_bar ul li:first-child{border:none;}
    .int_check label{padding: 0px !important;width: 290px !important;text-align:left !important;}
    .checkbox-group{width: 240px;margin: 0px auto;overflow: hidden;}
    .checkbox-group #inputTarget, .checkbox-group #inputLinkType{float: left;width: 30px;padding-top: 5px;text-align: right;margin-top: 9px;}
    .checkbox-group .controls{margin:0px;}
    .checkbox-group .controls label{width: 140px;}
    .int_check{width:320px;}
    
  /*style for header section - ends*/
  
  /*styles for navigation bar - starts*/
    #edit_navbar{float: left;margin: 26px auto;}
    #nav_bar{border:1px solid black; margin:20px auto;float: left;width: 90%;}
    #nav_bar ul li{border-right:1px solid black;position: relative;}
    #nav_bar ul li:first-child +li{border-left:1px solid black;}
    #nav_bar ul li a{display:block;padding:10px 20px;max-width: 45px;word-wrap: break-word;}
    #nav_bar ul li .sub-nav{position: absolute;background: white;border: 1px solid pink;z-index: 9;display:none;top:0px;}
    #nav_bar ul li:hover > .sub-nav{display:block;}
    #nav_bar ul.nav > li > .sub-nav{left:0px !important;top:auto !important;}
    #nav_bar ul li .sub-nav ul li{border:none;border-top:1px solid pink;}
    #nav_bar ul li .sub-nav ul li:first-child{border-top:none;}
    #nav_bar ul li .sub-nav ul li span.remove{position: absolute;right: 0px;top: 0px;}
    /* editable navigation bar*/
    #choice_section .radio{width:15%;margin-right: 25%;}
    #item_link{display:none;}
    #item_link, #item_folder{border-top: 1px solid black;margin: 20px auto;padding: 20px 0px;}
  /*styles for navigation bar - ends*/
  
  
  #video_sec, #audio_sec{height:200px;margin-bottom:50px;}
  #audio_sec{margin-top: 100px;}
  #audio_sec #audioName{margin-top:50px;}
  #audio_sec audio{margin-top:10px;}
  #video_sec video{border: 1px solid green;margin: 40px 0px 0px;}
  
  #footer{border: 1px solid grey;margin-top:30px;}
  #footer ul{margin:20px auto;overflow:hidden;}
  #footer ul li{width:24%;}
  #footer ul li a{display:block;padding:5px 50px;font-size:18px;text-align: center;}
  
@media only screen and (min-width : 200px) and (max-width : 420px){
  /* Styles */
  #head_nav{float:left;}
}  
  
@media only screen and (min-width : 200px) and (max-width : 980px){
/* Styles */
  .navbar .btn-navbar{margin:0px;padding:0px;height:30px;width:100%;}
  #nav_bar{border:none;width: 100%;overflow:visible;}
  #nav_bar ul li{width:99.5%;border:1px solid grey;border-top:none;}
}