/*template 5 styles*/
.repeat-wrapper{width: 100%;margin: 40px auto;overflow: hidden;}

.add_new_division{background: transparent url(add.png) 0px 0px no-repeat;width:60px;height:25px;float:left;cursor:pointer;background-size: 100% 100%;}

div.repeatable {float: left;width: 92%;padding: 20px 20px;background:#f2f2f2;}

.repeat-wrapper .remove{float: right;width:25px;}

div.repeatable dl{float: left;width: 100%;margin-bottom: 50px;}
div.repeatable dl dt a{font-weight:normal;float:left;margin-top:30px;}
div.repeatable dl dt{float: left;width: 25%;}
div.repeatable dl dd{float: right;width: 70%;}
div.repeatable .audio_sec{float: left;width: 40%;}
div.repeatable .video_sec{float: right;width: 50%;}
div.repeatable .link_sec{float: right;width: 20%;}
div.repeatable .link_sec .change_link{margin-left:55px;}


/* Navigation bar styles : common through all templates*/

.navigation_section{margin: 20px 0px;}
.navigation_section p{display:none;}
.navigation_section .nav-section{float:left;width:100%;background-color:transparent !important;}
.navigation_section .nav-section #nav_bar{margin:0px !important;width: 97%;position:static;background:#ffc06b;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}
.navigation_section .nav-section #nav_bar > li{float: left;width: 16.5%;text-align: center;position: relative;border-left: 1px solid #ffffff;}
.navigation_section .nav-section #nav_bar > li:first-child{border:none;}

.navigation_section .nav-section #nav_bar ul{float:left;width:100%;}
.navigation_section .nav-section #nav_bar li > ul{margin: 0px;position: absolute;top: 40px;left: 0px;display:none;width: 99%;background:#ffdfb4;/*padding: 15px 0px;*/border:1px solid #ffc06b;z-index:1;border-bottom-width:5px;}

.navigation_section .nav-section #nav_bar li a{display: block;padding: 10px 0px;width: 100%;max-width: 100%;word-wrap: break-word;float: left;color:#ffffff;text-transform:uppercase;font-size: 16px;}

/*.navigation_section .nav-section #nav_bar li:hover > .sub-nav{display:block;}*/
.navigation_section .nav-section #nav_bar li:hover > ul{display:block;}


.navigation_section .nav-section #nav_bar ul li{float: left;width: 100%;text-align: center;position: relative;}
.navigation_section .nav-section #nav_bar ul li a{border-bottom:1px solid #ffc06b; color:#ff9302;}

/*.navigation_section .nav-section #nav_bar li .sub-nav > ul .sub-nav{left: 100%;top: 0%;}*/
.navigation_section .nav-section #nav_bar > li > ul > li > ul{left: 100%;top: 0%;}

.navigation_section .nav-section #nav_bar li a:hover{text-decoration:none;color:#ffffff;}
.navigation_section .nav-section #nav_bar > li > a:hover{color:#815e2f;}
