<form class="form-horizontal">
  <!-- <div class="checkbox-group int_check">
    <input type="checkbox" id="inputLinkType" class="inputLinkType" checked='checked'/>
    <div class="controls">
      <label class="control-label" for="inputLinkType">INTERNAL LINK<br/>(check to make the link point internally.)</label>
    </div>
  </div>  --> 
  <div class="checkbox-group int_check">
    <% unless @site_pages.count == 0 %>
      <input type="checkbox" id="inputLinkType" class="inputLinkType" checked='checked'/>
      <div class="controls">
        <label class="control-label" for="inputLinkType">INTERNAL LINK<br/>(check to make the link point internally.)</label>
      </div>
    <% end %>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputName">Name</label>
    <div class="controls">
      <input type="text" id="inputName" class= "inputName" placeholder="Link Name" required>
      <span class="error">Invalid Name!</span>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputURL">URL</label>
    <div class="controls">
      <%= select_tag 'page_select_box',options_for_select(@site_pages.map { |page| [page.name, page.slug]}), prompt: '- SELECT OPTION -' %>
      <input type="text" id="inputURL" class="inputURL" placeholder="URL" required>
      <span class="error">Invalid URL!</span>
    </div>
  </div>
  <div class="checkbox-group">
    <input type="checkbox" id="inputTarget" class="inputTarget" checked='checked'/>
    <div class="controls">
      <label class="control-label" for="inputTarget">Open in new window</label>
    </div>
  </div>
</form>
<div class="modal-footer">
  <button class="btn btn-primary link_form" >Submit</button>
</div>