<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="links_num">CAPACITY</label>
    <div class="controls">
      <input type="text" id="links_num" class="links_num" value='5' required>
      <span class="error">Please give valid number.</span>
    </div>
  </div>
</form>
<div class="modal-footer">
  <button class="btn btn-primary capacity_form" id="capacity_form">Submit</button>
</div>